<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Learn Javascript
        link(rel="stylesheet", href="css/style.min.css")
    body
        .app
            .logo <span>money</span> keeper
            .main_title Расчет дневного бюджета
            .main 
                .data
                    .expenses 
                        .expenses_title.title Введите обязательные расходы на день
                        .expenses_top 
                            input.expenses_item#expenses_1(type="text" placeholder="Наименование") 
                            input.expenses_item#expenses_2(type="text" placeholder="Цена")
                        .expenses_bottom 
                            input.expenses_item#expenses_3(type="text" placeholder="Наименование") 
                            input.expenses_item#expenses_4(type="text" placeholder="Цена")
                        button.expenses_btn.btn(disabled) Утвердить
                    .optexpenses 
                        .optexpenses_title.title Введите необязательные расходы
                        .optexpenses_table
                            input.optexpenses_item(type="text") 
                            input.optexpenses_item(type="text")
                            input.optexpenses_item(type="text")
                        button.optexpenses_btn.btn(disabled) Утвердить
                    .countbudget_title.title Расчет дневного бюджета
                    button.countbudget_btn.btn(disabled) Рассчитать
                    .income_title.title Введите статьи возможного дохода через запятую
                    input.income_label(type="text")
                    .saving
                        .saving_check 
                            p Есть ли накопления?
                            input.saving_btn(type="checkbox")
                        .saving_input
                            .saving_sum
                                label(for="sum") Сумма
                                input.saving_item#sum(type="text")
                            .saving_percent
                                label(for="percent") Процент
                                input.saving_item#percent(type="text")
                    .open 
                        button.start.btn#start Начать расчет   

                .result
                    .result_table 
                        .result_title Результат
                        .budget 
                            .budget_name.name Доход:
                            .budget_value.value
                        .daybudget
                            .daybudget_name.name Бюджет на 1 день:
                            .daybudget_value.value
                        .expenses
                            .expenses_name.name Обязательные расходы:
                            .expenses_value.value
                        .optionalexpenses 
                            .optionalexpenses_name.name Возможные траты:
                            .optionalexpenses_value.value
                        .income 
                            .income_name.name Дополнительный доход:
                            .income_value.value
                        .monthsaving 
                            .monthsaving_name.name Накопления за 1 месяц:
                            .monthsaving_value.value
                        .yearsaving 
                            .yearsaving_name.name Накопления за 1 год: 
                            .yearsaving_value.value
                    .result_data 
                        .year Год:
                            input.year_value(type="text" readonly) 
                        .month Месяц:
                            input.month_value(type="text" readonly) 
                        .day День:
                            input.day_value(type="text" readonly) 
        .animate_wrapper
            .animate
            button.animate_btn Анимация
        script(src="js/script.js")