<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Learn Javascript
        link(rel="stylesheet", href="css/style.css")
    body
        h1.title Learn Javascript
        hr

        .box#box 

        .buttons
            button 1
            button 2
            button 3
            button 4
            button 5

        .circles
            .circle 
            .circle 
            .circle 

        .hearts
            .heart 
            .heart 
            .heart 

        script(src="js/script.js")