<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Learn Javascript
        link(rel="stylesheet", href="css/style.css")
    body
        h1.title Learn Javascript
        script(src="js/script.js")